<p-panel header="Pipes numéricos" class="p-2">
  <p>pipes inclidos en angular - usualmente en el common mudule</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      {{ totalSells + 1235 | number : "1.4-4" }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presente año">
      {{ totalSells | currency : "HNL" : "symbol-narrow" : "1.4-4" }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganacias porcentuales" subheader="del presente año">
      {{ percent | percent : "1.2-2" }}
    </p-card>
  </div>
</div>
